<!DOCTYPE html>
<html>

<head>
    




    <% include partials/head %>
        <link rel="stylesheet" href="css/cryptex.css">
       


</head>
<style>
    body {
        background: linear-gradient(rgba(73, 73, 73, 0.5), rgba(73, 73, 73, 0.5)), url('../media/wall/(<%- num %>).jpg');
        background-size: cover;
        /* <------ */
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<body>
  
    <% include partials/loader %>
        <div id="home">


            <% include partials/header %>

                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div>
                                <div class="uk-align-center heading-text">
                                    <span class="cryptex">Cryptex</span>
                                    <% if(user.cryptex.level != 28){ %>
                                        <br>
                                        <span class="heading"> Level
                                            <%= user.cryptex.level %>
                                        </span>
                                        <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
                                            <div class="small-padd">
                                                <div class="heading">
                                                    Clue
                                                </div>
                                                <div class="text" uk-lightbox="animation: slide">
                                                    <div>
                                                        <a class="uk-inline uk-overflow-hidden" href="<%= doc.image %>">
                                                            <img src="<%= doc.image %>" alt="Level <%= user.cryptex.level %>">
                                                        </a>
                                                        <div class="text">

                                                            Click on image to view clue.

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="center-padding small-padd">
                                                <div class="heading">
                                                    Answer
                                                </div>
                                                <div class="text">

                                                    <div>
                                                        <input class="uk-input uk-width-1-2@m" id="answer" name="answer" type="text" required>
                                                    </div>
                                                    <br>
                                                    <input type="button" value="Submit" class="uk-button uk-button-default white" onclick="submitAns()">


                                                </div>
                                              

                                            </div>


                                        </div>
                                        <% } else { %>
                                            <div class="heading">
                                                    Game is On
                                            </div>
                                            <p>
                                                    Congratulations, you have solved all question. <br>
                                                    Keep the eye on Leaderboard for results.
                                            </p>
                                            <% } %>

                                </div>

                            </div>





                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/cryptex.js"></script>

        <script>

            window.onload = function () {
                var loader = document.getElementById('loader');


                setTimeout(function () {
                    loader.parentElement.removeChild(loader);
                    $('#home').css("visibility", 'visible')

                }, 0);
            };
            // Don't Be Annoyed Guys
           document.addEventListener('contextmenu', event => event.preventDefault());

        </script>


</body>

</html>