<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>

        <link rel="stylesheet" href="css/profile.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>
                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Profile</span>
                                </h1>
                            </div>
                            <div class="my-rotate">

                                <div class="table-margin" uk-grid>
                                    <h1 id="prof" class="uk-align-center sub-heading ">
                                        <span>About</span>
                                    </h1>
                                </div>
                                <div class="table-margin" uk-grid>

                                    <table id="userp" class="uk-table uk-grid-medium uk-table-middle">

                                        <tbody class="uk-visible@m">

                                            <tr>
                                                <td class="head-font">Name</td>
                                                <td class="body-font">
                                                    <%- user.name %>
                                                </td>
                                                <td></td>
                                                <td class="head-font">Contact Number</td>
                                                <td class="body-font">
                                                    <%- user.phoneNumber %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head-font">Email</td>
                                                <td class="body-font">
                                                    <%- user.email %>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="head-font">College</td>
                                                <td class="body-font">
                                                    <%- user.college %>
                                                </td>
                                                <td></td>
                                                <td class="head-font">City</td>
                                                <td class="body-font">
                                                    <%- user.city %>
                                                </td>
                                            </tr>

                                        </tbody>

                                        <tbody class="uk-hidden@m">

                                            <tr>
                                                <td class="head-font">Name</td>
                                                <td class="body-font">
                                                    <%- user.name %>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td class="head-font">Contact Number</td>
                                                <td class="body-font">
                                                    <%- user.phoneNumber %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head-font">Email</td>
                                                <td class="body-font">
                                                    <%- user.email %>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="head-font">College</td>
                                                <td class="body-font">
                                                    <%- user.college %>
                                                </td>

                                            </tr>
                                            <tr>


                                                <td class="head-font">City</td>
                                                <td class="body-font">
                                                    <%- user.city %>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>


                                </div>

                                <div class="table-margin" uk-grid>
                                    <h1 id="prof" class="uk-align-center sub-heading">
                                        <span>Registered Events</span>
                                    </h1>
                                </div>
                                <div class="table-margin" uk-grid>
                                    <% if(user.rEvents.length === 1) { %>
                                        <div class="uk-text-center body-font">
                                            No events to display.
                                        </div>
                                        <% } else { %>
                                            <table id="userp" class="uk-table  uk-table-justify uk-grid-medium uk-table-middle uk-table-divider">

                                                <thead>
                                                    <tr>

                                                        <th class="head-font">Event Name</th>
                                                        <th class="head-font">Team Size</th>
                                                        <th class="head-font">Payment Status</th>
                                                        <th class="head-font">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>



                                                    <%   for(var i=1; i<user.rEvents.length; i++) { %>
                                                        <tr>

                                                            <td class="body-font">
                                                                <%= user.rEvents[i].event.eventName %>
                                                            </td>
                                                            <td class="body-font">
                                                                <%= user.rEvents[i].team.length %>
                                                            </td>
                                                            <td class="body-font">
                                                                <%= user.rEvents[i].status %>
                                                            </td>
                                                            <td class="body-font link-text">
                                                                <a href="/pdf/view/<%= user.rEvents[i].orderId %>" target="_blank">View</a>
                                                                <br>
                                                                <a href="#" id="payNow<%= i %>">Pay</a>
                                                                <script>
                                                                        $("#payNow<%= i %>").click(function(e){
                                                                            e.preventDefault();
                                                                            var name,
                                                                        form = document.createElement("form"),
                                                                        node = document.createElement("input");
                                                            
                                                            
                                                            
                                                                      form.action =  "/payment/initiate/<%= user.rEvents[i].event.payName %>";
                                                                      form.method = 'POST';
                                                            
                                                            
                                                                      node.name = 'orderId';
                                                                      node.value = "<%= user.rEvents[i].orderId %>";
                                                                      form.appendChild(node.cloneNode());
                                                            
                                                            
                                                                      form.style.display = "none";
                                                                      document.body.appendChild(form);
                                                            
                                                                      form.submit();
                                                            
                                                                      document.body.removeChild(form);
                                                                        });
                                                                   
                                                                        
                                                                </script>
                                                            </td>
                                                        </tr>
                                                        <% } %>

                                                </tbody>
                                            </table>

                                            <% }  %>
                                </div>

                                <div class="table-margin" uk-grid>
                                    <h1 id="prof" class="uk-align-center sub-heading">
                                        <span>Paid Events</span>
                                    </h1>
                                </div>
                                <div class="table-margin" uk-grid>
                                    <% if(user.events.length === 1) { %>
                                        <div class="uk-text-center body-font">
                                            No events to display.
                                        </div>
                                        <% } else { %>
                                            <table id="userp" class="uk-table  uk-table-justify uk-grid-medium uk-table-middle uk-table-divider">

                                                <thead>
                                                    <tr>

                                                        <th class="head-font">Event Name</th>
                                                        <th class="head-font">Team Size</th>
                                                        <th class="head-font">Payment Status</th>
                                                        <th class="head-font">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>



                                                    <%   for(var i=1; i<user.events.length; i++) { %>
                                                        <tr>

                                                            <td class="body-font">
                                                                <%= user.events[i].event.eventName %>
                                                            </td>
                                                            <td class="body-font">
                                                                <%= user.events[i].team.length %>
                                                            </td>
                                                            <td class="body-font">
                                                                <%= user.events[i].status %>
                                                            </td>
                                                            <td class="body-font link-text">
                                                                <a href="/pdf/generate/<%= user.events[i].orderId %>" target="_blank">Receipt</a>
                                                            </td>
                                                        </tr>
                                                        <% } %>

                                                </tbody>
                                            </table>

                                            <% }  %>
                                </div>


                            </div>

                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>


                        <% include partials/footer %>





        </div>

        
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>
        

</body>

</html>