<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>

        <link rel="stylesheet" href="css/profile.css">

</head>

<body>

    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>
                                <div class="uk-position-center main-content ">

                                    <div class="scroll-content" id="style-7">
                                        <div class="inner-content">
                                            <div uk-grid>
                                                <h1 class="uk-align-center heading-text">
                                                    <span>Profile</span>
                                                </h1>
                                            </div>
                                            <div class="my-rotate">

                                                <div uk-grid>
                                                    <h1 id="prof" class="uk-align-center sub-heading ">
                                                        <span>About</span>
                                                    </h1>
                                                    </div>
                                                    <div class="about-margin uk-align-center">
                                                        <table id="userp" class="uk-table uk-table-justify uk-table-small uk-table-middle">

                                                            <tbody>

                                                                <tr class="tr-font">
                                                                    <td>Name</td>
                                                                    <td>
                                                                        <%- user.name %>
                                                                    </td>
                                                                </tr>
                                                                <tr class="tr-font">
                                                                    <td>Email</td>
                                                                    <td>
                                                                        <%- user.email %>
                                                                    </td>
                                                                </tr>
                                                                <tr class="tr-font">
                                                                    <td>Contact Number</td>
                                                                    <td>
                                                                        <%- user.phoneNumber %>
                                                                    </td>
                                                                </tr>
                                                                <tr class="tr-font">
                                                                    <td>College</td>
                                                                    <td>
                                                                        <%- user.college %>
                                                                    </td>
                                                                </tr>
                                                                <tr class="tr-font">
                                                                    <td>City</td>
                                                                    <td>
                                                                        <%- user.city %>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                               
                                                <div class="table-margin" uk-grid>
                                                    <h1 id="prof" class="uk-align-center sub-heading">
                                                        <span>Registered Events</span>
                                                    </h1>

                                                    <table id="userp" class="uk-table uk-grid-medium uk-table-middle uk-table-divider">
                                                        <thead>
                                                            <tr class="th-font">

                                                                <th>Event Name</th>
                                                                <th>Team Size</th>
                                                                <th>Payment Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% if(user.events.length === 1) { %>
                                                                <tr class="tr-font">

                                                                    <td colspan="4" class="uk-text-center">No registered events to display.</td>
                                                                </tr>
                                                                <% } else { %>
                                                                    <% for(var i=1; i<user.events.length; i++) { %>
                                                                        <tr class="tr-font">

                                                                            <td>
                                                                                <%= user.events[i].eventName %>
                                                                            </td>
                                                                            <td>
                                                                                <%= user.events[i].team.length %>
                                                                            </td>
                                                                            <td>
                                                                                <%= user.events[i].payment.status %>
                                                                            </td>
                                                                            <td>
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>


                                            </div>

                                        </div>

                                    </div>


                                </div>






                                <% include partials/leftbar %>



                                    <% include partials/rightbar %>


                                    <% include partials/footer %>





        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>