<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/workshops.css">
        <script>
            var current;
            var next;
            var mevent = <%- JSON.stringify(workshop) %> ;
           

        </script>
</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>
                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                     

                            <div id="details">
                                <div>
                                    <div uk-grid>
                                        <span class="back-back-icon">
                                            <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
                                        </span>
                                        <h1 class="heading-text uk-align-center">
                                            <span id='clubName'><%- workshop.clubName %></span>
                                        </h1>
                                    </div>

                                    <div>

                                        <h1 class="heading-li uk-align-center ">
                                            <span id='eventName'><%- workshop.displayName %></span>
                                        </h1>
                                    </div>

                                    <div>
                                        <ul class="uk-list text-list  uk-text-center uk-list-medium">
                                                <% if(workshop.eventFee != null ){ %>
                                            <li id="fees">
                                                Fee :
                                                <span id='eventFee'><%- workshop.eventFee %></span>
                                            </li>
                                            <% } %>
                                            <li>
                                                Date :
                                                <span id='eventDate'><%- workshop.eventDate %></span>
                                            </li>
                                            <li>
                                                Venue :
                                                <span id='eventVenue'><%- workshop.eventVenue %></span>
                                            </li>


                                           
                                            <br>
                                            <li>
                                                <% if(isLoggedIn){ %>


                                                    <a class="uk-button button-font uk-button-default uk-button-large" href="#register-workshops" uk-toggle>Registration</a>
                                                    <% } else { %>
                                                        <a class="uk-button button-font uk-button-default uk-button-large" href="#register-center" uk-toggle>Register</a>
                                                        <% } %>
                                            </li>

                                            <br>
                                        </ul>




                                    </div>

                                    <div class="my-rotate">
                                        <div uk-grid>
                                            <ul id="tabs" class="uk-flex-center uk-text-center" uk-tab>
                                                    <% if(workshop.synopsis != null ){ %>  
                                                <li class="uk-active">
                                                    <a id="synopsis" href="#">Synopsis</a>
                                                </li>
                                                <% } %>
                                                <% if(workshop.eventDescription != null ){ %>
                                                <li >
                                                    <a id="description" href="#">Event Description</a>
                                                </li>
                                                <% } %>
                                                <% if(workshop.highlights != null ){ %>
                                                <li>
                                                    <a id="highlights" href="#">Highlights</a>
                                                </li>
                                                <% } %>
                                                <% if(workshop.workshopContent != null ){ %>
                                                <li>
                                                    <a id="workshopContent" href="#">Workshop Structure</a>
                                                </li>
                                                <% } %>
                                                <% if(workshop.rules != null ){ %>
                                                <li>
                                                    <a id="rules" href="#">Rules</a>
                                                </li>
                                                <% } %>
                                                <% if(workshop.benefits != null ){ %>
                                                <li>
                                                    <a id="benefits" href="#">Benefits</a>
                                                </li>
                                                <% } %>
                                                <li>
                                                    <a id="contact" href="#">Contact</a>
                                                </li>

                                            </ul>


                                            <div id="tab">
                                                    <% if(workshop.synopsis != null ){ %>  
                                                        <%- workshop.synopsis %>
                                                        <% } else if(workshop.eventDescription != null){ %>
                                                            <%- workshop.eventDescription %>
                                                            <% } else { %>
                                                                <%- workshop.highlights %>
                                                                <% } %>
                                                   
                                            </div>




                                        </div>




                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>




        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/workshops.js"></script>
        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>